/* InputNumber */
.antd-input-number {
	width: 100%;
	border-radius: 9999px;
	overflow: hidden;
}

.antd-input-number .ant-input-number-handler-wrap {
	right: 0.5rem;
}

.antd-input-number .ant-input-number-input-wrap {
	height: 100%;
	display: flex;
}

.antd-input-number .ant-input-number-input {
	padding: 1rem 2rem;
	font-size: 1.6rem;
}
